/* -------------------*/
/* Custom properties  */
/* -------------------*/
/* 什么是root https://developer.mozilla.org/zh-CN/docs/Web/CSS/:root */
/* 什么是hsl https://baike.baidu.com/item/HSL/1443144?fr=aladdin */
:root{
    --clr-dark: 230 35% 7%;
    --clr-light:231 77% 90% ;
    --clr-white:0 0% 100%;
}




/* ----------- */
/* Reset       */
/* ----------- */

/* 一个通用的 Reset CSS的css文件 */
/* https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing */
/* 选择所有的元素，并且设置的边框和内边距的值是包含在width内 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margines */
/* 把外边距设置为0，为了兼容不同的浏览器，因为不同的浏览器默认的外边距和内边距不同*/
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture{
    margin: 0;
}

/* set up the Body */
body{
    line-height: 1.5;  /* 设置Body 中元素高度为1.5*/
    min-height: 100vh; /* 设置Body 中元素的最小高度*/
                       /* vh https://blog.csdn.net/bidang3275/article/details/118657801 */
}

/* make images easer to work with */
img,
picture{
    max-width: 100%; /*图片的最大宽度*/
    display: block;
}

/* make form elements easire to work with */
input,
button,
textarea,
select{
    font: inherit /* 保证以上按钮的字体从父元素继承，一致 */
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) { /* 检查用户是否开启减少动态效果 解释参考 https://developer.mozilla.org/zh-CN/docs/Web/CSS/@media/prefers-reduced-motion*/
    /* html:focus-within 伪类选择器, 表示当一个元素或该元素后代获得焦点时触发 参考 https://www.cnblogs.com/coco1s/p/9406413.html */
    /* 设置页面的滚动效果 */
    html:focus-within {
     scroll-behavior: auto; /* 立即跳转到锚点 参考 https://developer.mozilla.org/zh-CN/docs/Web/CSS/scroll-behavior*/
    }
    
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important; /* 完成动画的周期设置为0.01 ms */
      animation-iteration-count: 1 !important; /* 动画播放次数 */
      transition-duration: 0.01ms !important; /* 完成动画过渡的时间0.01 ms */
      scroll-behavior: auto !important; /* 设置页面的滚动效果 */
      /* !important 设置此，此设置将覆盖其它css */
    }
  }


/* --------------- */
/* Utility Classes */
/* --------------- */

.flex {
    display: flex; /* 详解 https://www.cnblogs.com/hellocd/p/10443237.html */
    gap: var(--gap,1rem); /* var 变量 https://www.jianshu.com/p/8e286c0f9918 */
                          /* rem 解释 https://m.php.cn/article/467859.html */
}
.grid{
    display: grid; /* 详解 https://www.jianshu.com/p/41c038baf994 */
    gap: var(--gap,1rem);
}

.container {
    padding-inline: 2rem; /* https://cloud.tencent.com/developer/section/1072175 */
    max-width: 80rem;
    margin-inline: auto; /* 类似 padding */
}

/* .sr-only 作用 https://blog.csdn.net/sinat_34719507/article/details/53737075  */
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden; /* https://blog.csdn.net/javaloveiphone/article/details/50907308 */
    clip: rect(0,0,0,0); /* 用于隐藏label标签 https://www.cnblogs.com/foxcharon/p/10134122.html */
    white-space: nowrap; /* https://blog.csdn.net/weixin_39818813/article/details/79942501 */
    border: 0;

}







.box{
    background-color: lightblue;
    padding: 3rem
}

.call-to-action{
    --gap: 5rem;
    background-color: pink;
    padding: 2rem;
    border-radius: 1rem;
}

/* color */

.bg-dark { background-color: hsl(var(--clr-dark));}
.bg-accent { background-color: hsl(var(--clr-light));}
.bg-white { background-color: hsl(var(--clr-white));}

.text-dark { background-color: hsl(var(--clr-dark));}
.text-accent { background-color: hsl(var(--clr-light));}
.text-white { background-color: hsl(var(--clr-white));}